{# src/app/Resources/views/layout.html.twig #}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{%block title%}Accueil{%endblock%} EvryThing</title>
{%block stylesheets%}
<link rel="stylesheet" href="{{ asset('bundles/evrythingblog/css/Global.css') }}" type="text/css" media="all" />
{% endblock %}
</head>
<body>
	<div id="background">
		<header>
			<nav>
				<ul>
					<li><a href="{{path('evry_thing_blog_accueil', {'page':1})}}" class="navOrange">ACTUALIT&EacuteS</a></li>
					<li><a href="evry.html" class="navBleu">MIAGE &EacuteVRY</a></li>
					<li><a href="{{path('evry_thing_blog_modifierArticle', {'id':1})}}" class="navOrange">BDE</a></li>
					<li><a href="index.html.twig" class="navBleu">MIAGE CONNEXION</a></li>
					<li><a href="evry.html" class="navOrange">&EacuteV&EgraveNEMENTS</a></li>
					<li><a href="bde.html" class="navBleu">GALERIE</a></li>
					<li><a href="index.html.twig" class="navOrange">DOCUMENTS</a></li>
					<li><a href="evry.html" class="navBleu">ADH&EacuteSIONS</a></li>
					<li><a href="bde.html" class="navOrange">ESPACE ANCIEN</a></li>
				</ul>
			</nav>
		</header>
    	<div id="centre">
        	{%block principal%}
			{%endblock%}
			{%block login%}
				{{ render(controller("EvryThingLoginBundle:Login:login"))}}
			{%endblock%}
        </div>
		<footer>
			<p id="partenaire">
				Partenaires : 
				<img src="{{ asset('bundles/evrythingblog/images/logoUEVE.jpg') }}" alt="logo UEVE" />
				<img src="{{ asset('bundles/evrythingblog/images/logoMiageCo.png') }}" alt="logo Miage Co" />
				<img src="{{ asset('bundles/evrythingblog/images/logoMozilla.png') }}" alt="logo UEVE" />
			</p>
		</footer>
    </div>
</body>
</html>