{# src/EvryThing/BlogBundle/Resources/views/layout.html.twig #}
	{%extends "::layout.html.twig"%}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/evrythingblog/css/Accueil.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('bundles/evrythingblog/css/Blog.css') }}" type="text/css" media="all" />
		{{ parent() }}
	{% endblock %}
	{%block title%}
		{{parent()}}
	{%endblock%}
	{%block principal%}
	<div id="principal">
		<ul>		
			{% for article in articles %}
				{%if article.taille == "petitG"%}
					<li class="article petitG">
						<div class="artTitre">
							<h1 class="titre1">{{ article.titre }}</h1>
						</div>
						<p class="contenu">
							<img src="{{ asset(article.image) }}" alt="img{{article.id}}" />
							{{ article.contenu }}
						</p>
						<div class="contenudur">
                          
                          <input id="boutonP{{ loop.index }}" type="button" name="derouleur" value="+ DE DETAILS" onClick="derouler(this.id)">
                          
                          <input id="boutonM{{ loop.index }}" type="button" style="display:none;" name="enrouleur" value="- DE DETAILS" onClick="enrouler(this.id)">
							
                            <p class="contenudur" style="display:none;">
                              ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'
                          </p>
						</div>
						<div class="footer">
							par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}
						</div>
					</li>
				{%elseif article.taille == "petitD"%}
					<li class="article petitD">
						<div class="artTitre">
							<h1 class="titre1">{{ article.titre }}</h1>
						</div>
						<p class="contenu">
							<img src="{{ asset(article.image) }}" alt="img{{article.id}}" />
							{{ article.contenu }}
						</p>
						<div class="contenudur">
                          
                          <input id="boutonP{{ loop.index }}" type="button" name="derouleur" value="+ DE DETAILS" onClick="derouler(this.id)">
                          
                          <input id="boutonM{{ loop.index }}" type="button" style="display:none;" name="enrouleur" value="- DE DETAILS" onClick="enrouler(this.id)">
							
                            <p class="contenudur" style="display:none;">
                              ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'
                          </p>
						</div>
						<div class="footer">
							par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}
						</div>
					</li>
				{%else%}
					<li class="article grand">
						<div class="artTitre">
							<h1 class="titre1">{{ article.titre }}</h1>
						</div>
						<p class="contenu">
							<img src="{{ asset(article.image) }}" alt="img{{article.id}}" />
							{{ article.contenu }}
						</p>
						<div class="contenudur">
                          
                          <input id="boutonP{{ loop.index }}" type="button" name="derouleur" value="+ DE DETAILS" onClick="derouler(this.id)">
                          
                          <input id="boutonM{{ loop.index }}" type="button" style="display:none;" name="enrouleur" value="- DE DETAILS" onClick="enrouler(this.id)">
							
                            <p class="contenudur" style="display:none;">
                              ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article'
                                 ceci est le corps de l'article : ceci est le corps de l'article' voici mon ajout  ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'   ceci est le corps de l'article : ceci est le corps de l'article'
                          </p>
						</div>
						<div class="test">
						</div>
					</li>
				{%endif%}
			{% else %}
				<!--<li>Pas (encore !) d'articles</li>-->
			{% endfor %}
		</ul>	
	</div>
	
		<script>
    function derouler(idbutton) {

     ciblecontenu = document.getElementById(idbutton).nextElementSibling.nextElementSibling;
ciblecontenu.style.display='block';
      ciblebuttonmoins = document.getElementById(idbutton).nextElementSibling;
      ciblebuttonmoins.style.display='block';
      document.getElementById(idbutton).style.display='none';
  
   }

  function enrouler(idbutton){
    
    cachecontenu = document.getElementById(idbutton).nextElementSibling;
    
    cachecontenu.style.display='none';
    
    buttonplus = document.getElementById(idbutton).previousElementSibling;
    document.getElementById(idbutton).style.display='none';
    buttonplus.style.display='block';
    
  }
</script>
	{%endblock%}